/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Barra de navegação */
.navbar {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.navbar .navbar-list {
  list-style-type: none;
}
.navbar .navbar-list .navlist-item {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}
.navbar .navbar-list .navlist-item a {
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-list .navlist-item:hover {
  text-decoration: underline;
}
/* Cabeçalho e rodapé */
.header,
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
/* Conteúdo principal da página */
.main,
.aside {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 2rem;
}
.main {
  width: 100vh;
  background-color: rgb(76, 78, 77);
}
.aside {
  background-color: #e0e0e0;
  width: 475px;
  height: 40%;
}
/* Seção de Slider */
.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  aspect-ratio: 5 / 4;
  animation: slide 20s infinite;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.8rem;
}

.slider img {
  flex: 1 0 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 2));
  }
}

